# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
from lxml import html
from lxml.html import fromstring
# import urllib.request
from urllib.request import urlopen
# import random
import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
#your code
result = soup.find_all("h1", attrs = {"class": "h3 lh-condensed"})

name = [i.getText().strip().replace("\n", "") for i in result]
name

['Alex Rudenko',
 'Alessandro Ros',
 'Emil Ernerfeldt',
 'DefTruth',
 'Ha Thach',
 'Leonid Bugaev',
 'Patrick von Platen',
 'Alan Shaw',
 'Michael Bui',
 'tangly1024',
 'Romain Beaumont',
 'Vinicius Stock',
 'Kristoffer Carlsson',
 'Nathan Shively-Sanders',
 'oobabooga',
 'Sean Gillies',
 'Jyoti Puri',
 'Sascha Willems',
 'Thomas Eizinger',
 'Stefan Prodan',
 'Doug Finke',
 'Harrison Chase',
 'Brad Fitzpatrick',
 'Michael Telatynski',
 'Ettore Di Giacinto']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [6]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")

In [7]:
result = soup.find_all("h2", attrs = {"class": "h3 lh-condensed"})

links = [i.getText().split("/")[1].strip().replace("\n", "") for i in result]
links

['gpt4free',
 'Track-Anything',
 'gfw_resist_tls_proxy',
 'pdfGPT',
 'dndserver',
 'Chat-with-Github-Repo',
 'Agent-LLM',
 'rosgpt',
 'PentestGPT',
 'mmagic',
 'chatgpt-clone',
 'trader',
 'semantra',
 'thinkgpt',
 'langchain',
 'Real-ESRGAN',
 'Segment-Everything-Everywhere-All-At-Once',
 'img2dataset',
 'LordGPT',
 'ray',
 'Laws',
 'evidently',
 'instruct-pix2pix',
 'LLM-As-Chatbot',
 'NeMo-Guardrails']

#### Display all the image links from Walt Disney wikipedia page

In [8]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [9]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")

In [10]:
results = soup.find_all("a", attrs = {"class":"image"})

In [11]:
links = ["https:/es.wikipedia.org" + i.get("href") for i in results]
links

['https:/es.wikipedia.org/wiki/File:Walt_Disney_1946.JPG',
 'https:/es.wikipedia.org/wiki/File:Walt_Disney_1942_signature.svg',
 'https:/es.wikipedia.org/wiki/File:Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https:/es.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https:/es.wikipedia.org/wiki/File:Trolley_Troubles_poster.jpg',
 'https:/es.wikipedia.org/wiki/File:Steamboat-willie.jpg',
 'https:/es.wikipedia.org/wiki/File:Walt_Disney_1935.jpg',
 'https:/es.wikipedia.org/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https:/es.wikipedia.org/wiki/File:Disney_drawing_goofy.jpg',
 'https:/es.wikipedia.org/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https:/es.wikipedia.org/wiki/File:Walt_disney_portrait_right.jpg',
 'https:/es.wikipedia.org/wiki/File:Walt_Disney_Grave.JPG',
 'https:/es.wikipedia.org/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https:/es.wikipedia.org/wiki/File:DisneySchiphol1951.jpg',
 'https:/es.wikipedia.org/wiki/File:Disney1968.jpg',
 'https:/es.wikipedia.org/wiki/File:Disney_Oscar_1953_(cropped).jpg',
 'https:/es.wikipedia.org/wiki/File:Disneyland_Resort_logo.svg',
 'https:/es.wikipedia.org/wiki/File:Animation_disc.svg',
 'https:/es.wikipedia.org/wiki/File:Magic_Kingdom_castle.jpg',
 'https:/es.wikipedia.org/wiki/File:Blank_television_set.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [12]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [13]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")

In [14]:
results = soup.find_all("a")

In [15]:
links = [i.get("href") for i in results]

In [16]:
list_of_links = []
    
for i in links:
    if str(i).startswith("https:"):
        list_of_links.append(i)

    elif str(i).startswith("/wiki"):
        list_of_links.append(f"https:/es.wikipedia.org{i}")
        
    elif str(i).startswith("//"):
        list_of_links.append(f"https:{i}")

list_of_links

['https:/es.wikipedia.org/wiki/Main_Page',
 'https:/es.wikipedia.org/wiki/Wikipedia:Contents',
 'https:/es.wikipedia.org/wiki/Portal:Current_events',
 'https:/es.wikipedia.org/wiki/Special:Random',
 'https:/es.wikipedia.org/wiki/Wikipedia:About',
 'https://en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 'https:/es.wikipedia.org/wiki/Help:Contents',
 'https:/es.wikipedia.org/wiki/Help:Introduction',
 'https:/es.wikipedia.org/wiki/Wikipedia:Community_portal',
 'https:/es.wikipedia.org/wiki/Special:RecentChanges',
 'https:/es.wikipedia.org/wiki/Wikipedia:File_upload_wizard',
 'https:/es.wikipedia.org/wiki/Main_Page',
 'https:/es.wikipedia.org/wiki/Special:Search',
 'https:/es.wikipedia.org/wiki/Help:Introduction',
 'https:/es.wikipedia.org/wiki/Special:MyContributions',
 'https:/es.wikipedia.org/wiki/Special:MyTalk',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python_(d%C9%99qiql%C9%99%C5%9Fdirm%C9%99)',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%B2%D0%B8%D1%88%D0%B5%D0%B7%D0%BD%D0%B0%D1%87%D0%BD%D0%B0_%D0%BE%D0%B4%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%86%D0%B0)',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python_(anlam_ayr%C4%B1m%C4%B1)',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 'https:/es.wikipedia.org/wiki/Python',
 'https:/es.wikipedia.org/wiki/Talk:Python',
 'https:/es.wikipedia.org/wiki/Python',
 'https:/es.wikipedia.org/wiki/Python',
 'https:/es.wikipedia.org/wiki/Special:WhatLinksHere/Python',
 'https:/es.wikipedia.org/wiki/Special:RecentChangesLinked/Python',
 'https:/es.wikipedia.org/wiki/Wikipedia:File_Upload_Wizard',
 'https:/es.wikipedia.org/wiki/Special:SpecialPages',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 'https://commons.wikimedia.org/wiki/Category:Python',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 'https:/es.wikipedia.org/wiki/Pythonidae',
 'https:/es.wikipedia.org/wiki/Python_(genus)',
 'https:/es.wikipedia.org/wiki/Python_(mythology)',
 'https:/es.wikipedia.org/wiki/Python_(programming_language)',
 'https:/es.wikipedia.org/wiki/CMU_Common_Lisp',
 'https:/es.wikipedia.org/wiki/PERQ#PERQ_3',
 'https:/es.wikipedia.org/wiki/Python_of_Aenus',
 'https:/es.wikipedia.org/wiki/Python_(painter)',
 'https:/es.wikipedia.org/wiki/Python_of_Byzantium',
 'https:/es.wikipedia.org/wiki/Python_of_Catana',
 'https:/es.wikipedia.org/wiki/Python_Anghelo',
 'https:/es.wikipedia.org/wiki/Python_(Efteling)',
 'https:/es.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https:/es.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https:/es.wikipedia.org/wiki/Python_(automobile_maker)',
 'https:/es.wikipedia.org/wiki/Python_(Ford_prototype)',
 'https:/es.wikipedia.org/wiki/Python_(missile)',
 'https:/es.wikipedia.org/wiki/Python_(nuclear_primary)',
 'https:/es.wikipedia.org/wiki/Colt_Python',
 'https:/es.wikipedia.org/wiki/Python_(codename)',
 'https:/es.wikipedia.org/wiki/Python_(film)',
 'https:/es.wikipedia.org/wiki/Monty_Python',
 'https:/es.wikipedia.org/wiki/Python_(Monty)_Pictures',
 'https:/es.wikipedia.org/wiki/Timon_of_Phlius',
 'https:/es.wikipedia.org/wiki/Pyton',
 'https:/es.wikipedia.org/wiki/Pithon',
 'https:/es.wikipedia.org/wiki/File:Disambig_gray.svg',
 'https:/es.wikipedia.org/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1148531488',
 'https:/es.wikipedia.org/wiki/Help:Category',
 'https:/es.wikipedia.org/wiki/Category:Disambiguation_pages',
 'https:/es.wikipedia.org/wiki/Category:Human_name_disambiguation_pages',
 'https:/es.wikipedia.org/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 'https:/es.wikipedia.org/wiki/Category:Short_description_is_different_from_Wikidata',
 'https:/es.wikipedia.org/wiki/Category:All_article_disambiguation_pages',
 'https:/es.wikipedia.org/wiki/Category:All_disambiguation_pages',
 'https:/es.wikipedia.org/wiki/Category:Animal_common_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_the_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 'https://creativecommons.org/licenses/by-sa/3.0/',
 'https://foundation.wikimedia.org/wiki/Terms_of_Use',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 'https://www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 'https:/es.wikipedia.org/wiki/Wikipedia:About',
 'https:/es.wikipedia.org/wiki/Wikipedia:General_disclaimer',
 'https://en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile',
 'https://developer.wikimedia.org',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/']

#### Number of Titles that have changed in the United States Code since its last release point

In [17]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [18]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")

In [19]:
result = soup.find_all("div", attrs = {"class": "usctitlechanged"})
titles = [i.getText().replace("٭", "").strip() for i in result]
titles

['Title 1 - General Provisions',
 'Title 2 - The Congress',
 'Title 3 - The President',
 'Title 5 - Government Organization and Employees',
 'Title 6 - Domestic Security',
 'Title 8 - Aliens and Nationality',
 'Title 10 - Armed Forces',
 'Title 12 - Banks and Banking',
 'Title 14 - Coast Guard',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 17 - Copyrights',
 'Title 18 - Crimes and Criminal Procedure',
 'Title 20 - Education',
 'Title 21 - Food and Drugs',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 25 - Indians',
 'Title 26 - Internal Revenue Code',
 'Title 28 - Judiciary and Judicial Procedure',
 'Title 29 - Labor',
 'Title 31 - Money and Finance',
 'Title 32 - National Guard',
 'Title 33 - Navigation and Navigable Waters',
 'Title 34 - Crime Control and Law Enforcement',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations',
 'Title 37 - Pay and Allowances of the Uniformed Services',
 "Title 38 - Veterans' Benefits",
 'Title 40 - Public Buildings, Property, and Works',
 'Title 41 - Public Contracts',
 'Title 42 - The Public Health and Welfare',
 'Title 43 - Public Lands',
 'Title 44 - Public Printing and Documents',
 'Title 46 - Shipping',
 'Title 48 - Territories and Insular Possessions',
 'Title 49 - Transportation',
 'Title 50 - War and National Defense',
 'Title 51 - National and Commercial Space Programs']

In [20]:
print(f"A total of {len(titles)} titles have changed in the United States Code since its last release point")

A total of 37 titles have changed in the United States Code since its last release point

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [21]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [22]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")

In [23]:
results = soup.find_all("table", {"border": "0"})

In [24]:
table = results[0]

In [25]:
df = pd.read_html(table.prettify())[0]
df

                      Citizen  Response
    1  2  3  4  5  6  7  8  9  10  ›  » 1  2  3  4  5  6  7  8  9  10  ›  ».1
0                                   NaN                                   NaN  \
1                                     1                                   NaN
2                                   NaN                                   NaN
3                                   NaN                                   NaN
4                                   NaN                                   NaN
5                                   NaN                                   NaN
6                                   NaN                                   NaN
7                                   NaN                                   NaN
8                                     1                                   NaN
9                                     1                                   NaN
10                                  NaN                                   NaN
11                                  NaN                                   NaN
12                                    5                                   NaN
13                                  NaN                                   NaN
14                                  NaN                                   NaN
15                                  NaN                                   NaN
16                                  NaN                                   NaN
17                                  NaN                                   NaN
18                                    8                                   NaN
19                                  NaN                                   NaN
20                                  NaN                                   NaN
21                                  NaN                                   NaN
22                                  NaN                                   NaN
23                                  NaN                                   NaN
24                                  NaN                                   NaN
25                                    1                                   NaN
26                                  NaN                                   NaN
27                                  NaN                                   NaN
28                                   62                                   NaN
29                                  NaN                                   NaN
30                                  NaN                                   NaN
31                                  NaN                                   NaN
32                                  NaN                                   NaN
33                                  NaN                                   NaN
34                                  NaN                                   NaN
35                                  NaN                                   NaN
36                                  NaN                                   NaN
37                                  NaN                                   NaN
38                                  NaN                                   NaN
39                                  NaN                                   NaN
40                                  NaN                                   NaN
41                                  NaN                                   NaN
42                                  NaN                                   NaN
43                                  NaN                                   NaN
44                                  NaN                                   NaN
45                                  NaN                                   NaN
46                                  NaN                                   NaN
47                                  NaN                                   NaN
48                                  NaN                                   NaN
49                                  NaN                                   NaN
50                                  NaN                                   NaN
51  1  2  3  4  5  6  7  8  9  10  ›  »   1  2  3  4  5  6  7  8  9  10  ›  »
52                                  NaN                                   NaN


   1  2  3  4  5  6  7  8  9  10  ›  ».2
0                                    NaN  \
1                                      F
2                                    NaN
3                                    NaN
4                                    NaN
5                                    NaN
6                                      F
7                                    NaN
8                                      F
9                                      F
10                                   NaN
11                                   NaN
12                                    IV
13                                   NaN
14                                   NaN
15                                   NaN
16                                   NaN
17                                   NaN
18                                    IV
19                                   NaN
20                                   NaN
21                                     F
22                                   NaN
23                                   NaN
24                                   NaN
25                                     F
26                                   NaN
27                                   NaN
28                                   III
29                                   NaN
30                                   NaN
31                                   NaN
32                                   NaN
33                                   NaN
34                                   NaN
35                                   NaN
36                                   NaN
37                                   NaN
38                                   NaN
39                                   NaN
40                                   NaN
41                                   NaN
42                                   NaN
43                                   NaN
44                                   NaN
45                                   NaN
46                                   NaN
47                                   NaN
48                                   NaN
49                                     F
50                                   NaN
51   1  2  3  4  5  6  7  8  9  10  ›  »
52                                   NaN

                        Date & Time  UTC                    Latitude  degrees
     1  2  3  4  5  6  7  8  9  10  ›  »  1  2  3  4  5  6  7  8  9  10  ›  »
0       2023-04-27 20:55:58.2  07min ago                                37.10  \
1       2023-04-27 20:39:06.0  24min ago                                37.55
2       2023-04-27 20:30:52.4  32min ago                                39.25
3       2023-04-27 20:20:45.5  42min ago                                36.04
4       2023-04-27 20:13:00.0  50min ago                                 0.60
5       2023-04-27 20:10:30.0  53min ago                                 1.16
6       2023-04-27 20:06:38.0  57min ago                                29.57
7   2023-04-27 20:00:57.3  1hr 02min ago                                29.70
8   2023-04-27 20:00:00.1  1hr 03min ago                                37.29
9   2023-04-27 19:45:54.0  1hr 17min ago                                29.68
10  2023-04-27 19:31:13.9  1hr 32min ago                                42.02
11  2023-04-27 19:25:27.6  1hr 38min ago                                19.04
12  2023-04-27 19:20:12.7  1hr 43min ago                                36.21
13  2023-04-27 19:15:41.0  1hr 47min ago                                42.28
14  2023-04-27 19:10:30.0  1hr 53min ago                                31.49
15  2023-04-27 19:05:59.5  1hr 57min ago                                38.33
16  2023-04-27 19:05:39.4  1hr 58min ago                                55.77
17  2023-04-27 18:53:41.9  2hr 09min ago                                19.39
18  2023-04-27 18:51:59.9  2hr 11min ago                                36.77
19  2023-04-27 18:49:51.5  2hr 13min ago                                17.96
20  2023-04-27 18:49:42.9  2hr 13min ago                                38.21
21  2023-04-27 18:46:58.0  2hr 16min ago                                30.74
22  2023-04-27 18:30:44.0  2hr 32min ago                                37.63
23  2023-04-27 18:21:24.8  2hr 42min ago                                40.87
24  2023-04-27 18:18:25.0  2hr 45min ago                                 3.92
25  2023-04-27 18:13:53.1  2hr 49min ago                                29.71
26  2023-04-27 17:59:44.9  3hr 03min ago                                19.41
27  2023-04-27 17:54:14.2  3hr 09min ago                                38.08
28  2023-04-27 17:53:57.6  3hr 09min ago                                44.29
29  2023-04-27 17:45:33.0  3hr 18min ago                                 4.33
30  2023-04-27 17:44:22.0  3hr 19min ago                                 3.16
31  2023-04-27 17:42:50.0  3hr 20min ago                                 0.52
32  2023-04-27 17:40:57.0  3hr 22min ago                                 9.64
33  2023-04-27 17:33:18.4  3hr 30min ago                                37.94
34  2023-04-27 17:30:57.3  3hr 32min ago                                37.49
35  2023-04-27 17:21:25.0  3hr 42min ago                                12.36
36  2023-04-27 17:21:06.5  3hr 42min ago                                39.21
37  2023-04-27 17:12:13.6  3hr 51min ago                                42.24
38  2023-04-27 17:07:50.4  3hr 55min ago                                37.99
39  2023-04-27 16:58:33.0  4hr 05min ago                                 0.37
40  2023-04-27 16:47:32.4  4hr 16min ago                                38.34
41  2023-04-27 16:31:51.0  4hr 31min ago                                15.16
42  2023-04-27 16:30:33.0  4hr 33min ago                                16.61
43  2023-04-27 16:29:24.7  4hr 34min ago                                37.92
44  2023-04-27 16:19:56.9  4hr 43min ago                                38.76
45  2023-04-27 16:15:03.3  4hr 48min ago                                17.68
46  2023-04-27 16:13:26.7  4hr 50min ago                                38.81
47  2023-04-27 16:12:27.0  4hr 51min ago                                19.21
48  2023-04-27 16:08:22.0  4hr 55min ago                                39.92
49  2023-04-27 16:05:55.0  4hr 57min ago                                 8.27
50                                   NaN                                  NaN
51   1  2  3  4  5  6  7  8  9  10  ›  »  1  2  3  4  5  6  7  8  9  10  ›  »
52                                   NaN                                  NaN

                                                           Longitude  degrees
   1  2  3  4  5  6  7  8  9  10  ›  ».1  1  2  3  4  5  6  7  8  9  10  ›  »
0                                      N                                28.50  \
1                                      N                                35.34
2                                      N                                28.18
3                                      N                                35.91
4                                      N                               124.25
5                                      N                               125.90
6                                      N                                81.56
7                                      S                               177.32
8                                      N                                36.79
9                                      N                                81.65
10                                     N                                36.94
11                                     N                                67.15
12                                     N                                35.95
13                                     N                                 7.49
14                                     S                                68.74
15                                     N                                27.20
16                                     N                               155.81
17                                     N                               155.27
18                                     N                                36.18
19                                     N                                66.95
20                                     N                                37.83
21                                     N                               116.34
22                                     S                                73.84
23                                     N                               123.42
24                                     S                               128.77
25                                     N                                81.66
26                                     N                               155.26
27                                     N                                38.40
28                                     N                                17.81
29                                     S                               143.32
30                                     S                               130.61
31                                     N                               100.07
32                                     N                               122.55
33                                     N                                36.33
34                                     N                                37.19
35                                     N                                87.74
36                                     N                                40.03
37                                     N                                36.96
38                                     N                                33.98
39                                     S                               123.11
40                                     N                                38.88
41                                     S                                75.82
42                                     N                                97.70
43                                     N                                36.31
44                                     N                                37.29
45                                     N                                66.81
46                                     N                                37.22
47                                     N                               155.49
48                                     N                                43.96
49                                     S                               108.98
50                                   NaN                                  NaN
51   1  2  3  4  5  6  7  8  9  10  ›  »  1  2  3  4  5  6  7  8  9  10  ›  »
52                                   NaN                                  NaN

                                                                    Depth  km
   1  2  3  4  5  6  7  8  9  10  ›  ».1  1  2  3  4  5  6  7  8  9  10  ›  »
0                                      E                                    6  \
1                                      E                                   10
2                                      E                                    2
3                                      E                                    9
4                                      E                                  157
5                                      E                                   45
6                                      E                                   10
7                                      W                                   39
8                                      E                                    5
9                                      E                                   10
10                                     E                                    9
11                                     W                                    5
12                                     E                                   12
13                                     W                                    4
14                                     W                                  101
15                                     E                                    9
16                                     W                                   40
17                                     W                                    1
18                                     E                                    6
19                                     W                                   14
20                                     E                                    5
21                                     W                                   10
22                                     W                                   42
23                                     W                                   26
24                                     E                                   10
25                                     E                                   10
26                                     W                                    1
27                                     E                                    5
28                                     E                                    2
29                                     E                                   80
30                                     E                                   10
31                                     E                                  164
32                                     E                                   17
33                                     E                                    4
34                                     E                                    6
35                                     W                                   38
36                                     E                                   10
37                                     E                                    2
38                                     E                                    5
39                                     E                                   66
40                                     E                                    4
41                                     W                                   43
42                                     W                                   34
43                                     E                                   10
44                                     E                                   10
45                                     W                                    5
46                                     E                                    8
47                                     W                                   35
48                                     E                                   13
49                                     E                                   24
50                                   NaN                                  NaN
51   1  2  3  4  5  6  7  8  9  10  ›  »  1  2  3  4  5  6  7  8  9  10  ›  »
52                                   NaN                                  NaN

                               Mag  [+]                     Region name  [+]
    1  2  3  4  5  6  7  8  9  10  ›  »  1  2  3  4  5  6  7  8  9  10  ›  »
0                                    ML                                  2.3  \
1                                     M                                  3.2
2                                    ML                                  2.5
3                                    ML                                  2.3
4                                     M                                  3.2
5                                     M                                  2.9

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [26]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'
url_hack = 'https://hackevents.co/search/anything/anywhere/anytime'

In [27]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [28]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [29]:
#your code

#### A list with the different kind of datasets available in data.gov.uk

In [30]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [31]:
#your code

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [32]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [33]:
#your code

### BONUS QUESTIONS

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [34]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [35]:
# your code